name: Python Publish

on:
  workflow_call:
    inputs:
      repository_url:
        required: true
        type: string
    secrets:
      PYPI_API_TOKEN:
        required: true
jobs:
  pypi_release_deployment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PDM
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: "3.11"
          cache: true

      - name: Build
        run: pdm build -d dist

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          repository-url: ${{ inputs.repository_url }}
